/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    // illumina iGenomes reference file paths
    genomes {
        'GATK.GRCh37' {
            ascat_alleles         = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/ASCAT/G1000_alleles_hg19.zip"
            ascat_genome          = 'hg19'
            ascat_loci            = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/ASCAT/G1000_loci_hg19.zip"
            ascat_loci_gc         = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/ASCAT/GC_G1000_hg19.zip"
            ascat_loci_rt         = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/ASCAT/RT_G1000_hg19.zip"
            bwa                   = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Sequence/BWAIndex/"
            chr_dir               = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Sequence/Chromosomes"
            dbsnp                 = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf.gz"
            dbsnp_tbi             = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf.gz.tbi"
            dbsnp_vqsr            = '--resource:dbsnp,known=false,training=true,truth=false,prior=2.0 dbsnp_138.b37.vcf.gz'
            dict                  = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/hg19.dict"
            fasta                 = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/hg19.fa"
            fasta_fai             = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/hg19.fa.fai"
            germline_resource     = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/{GATKBundle/af-only-gnomad.raw.sites,GermlineResource/dummy_PON.gnomAD.GRCh37.WGS.AF.GT.01,GermlineResource/gnomAD.r2.1.1.GRCh37.PASS.AC.AF.only}.vcf.gz"
            germline_resource_tbi = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/{GATKBundle/af-only-gnomad.raw.sites,GermlineResource/dummy_PON.gnomAD.GRCh37.WGS.AF.GT.01,GermlineResource/gnomAD.r2.1.1.GRCh37.PASS.AC.AF.only}.vcf.gz.tbi"
            intervals             = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/intervals/sorted_hg19-exome-interval.bed"
            known_snps            = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/{1000G_omni2.5,1000G_phase1.snps.high_confidence,hapmap_3.3}.b37.vcf.gz"
            known_snps_tbi        = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/{1000G_omni2.5,1000G_phase1.snps.high_confidence,hapmap_3.3}.b37.vcf.gz.tbi"
            known_snps_vqsr       = '--resource:1000G_omni,known=false,training=true,truth=true,prior=10.0 1000G_omni2.5.b37.vcf.gz --resource:1000G,known=false,training=true,truth=true,prior=10.0 1000G_phase1.snps.high_confidence.b37.vcf.gz --resource:hapmap,known=false,training=true,truth=true,prior=10.0 hapmap_3.3.b37.vcf.gz'
            known_indels          = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/{1000G_phase1.indels.b37,Mills_and_1000G_gold_standard.indels.b37,Axiom_Exome_Plus.genotypes.all_populations.poly}.vcf.gz"
            known_indels_tbi      = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/{1000G_phase1.indels.b37,Mills_and_1000G_gold_standard.indels.b37,Axiom_Exome_Plus.genotypes.all_populations.poly}.vcf.gz.tbi"
            known_indels_vqsr     = '--resource:1000G,known=false,training=true,truth=true,prior=10.0 1000G_phase1.indels.b37.vcf.gz --resource:mills,known=false,training=true,truth=true,prior=10.0 Mills_and_1000G_gold_standard.indels.b37.vcf.gz --resource:axiomPoly,known=false,training=true,truth=true,prior=10.0 Axiom_Exome_Plus.genotypes.all_populations.poly.vcf.gz'
            mappability           = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/Control-FREEC/out100m2_hg19.gem"
            snpeff_cache          = "${params.igenomes_base}/DNA_softwares/snpEff/data/GRCh37.87"
            snpeff_db             = 87
            snpeff_genome         = 'GRCh37'
            snpeff_version        = '5.1'
            vep_cache_version     = 110
            vep_genome            = 'GRCh37'
            vep_species           = 'homo_sapiens'
            vep_version           = '110.1'
        }
        'GATK.GRCh38' {
            ascat_alleles         = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/G1000_alleles_hg38.zip"
            ascat_genome          = 'hg38'
            ascat_loci            = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/G1000_loci_hg38.zip"
            ascat_loci_gc         = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/GC_G1000_hg38.zip"
            ascat_loci_rt         = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/RT_G1000_hg38.zip"
            bwa                   = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/BWAIndex/"
            chr_dir               = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/Chromosomes"
            cf_chrom_len          = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/Length/Homo_sapiens_assembly38.len"
            dbsnp                 = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
            dbsnp_tbi             = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
            dbsnp_vqsr            = '--resource:dbsnp,known=false,training=true,truth=false,prior=2.0 dbsnp_146.hg38.vcf.gz'
            dict                  = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/hg38.dict"
            fasta                 = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/hg38.fa"
            fasta_fai             = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/hg38.fa.fai"
            germline_resource     = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/{GATKBundle/af-only-gnomad.hg38,GermlineResource/dummy_PON.gnomAD.GRCh38.WGS.AF.GT.01,GermlineResource/gnomAD.r2.1.1.GRCh38.PASS.AC.AF.only}.vcf.gz"
            germline_resource_tbi = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/{GATKBundle/af-only-gnomad.hg38,GermlineResource/dummy_PON.gnomAD.GRCh38.WGS.AF.GT.01,GermlineResource/gnomAD.r2.1.1.GRCh38.PASS.AC.AF.only}.vcf.gz.tbi"
            intervals             = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/intervals/sorted_hg38-exome-interval.bed"
            known_snps            = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{1000G_omni2.5,1000G_phase1.snps.high_confidence,hapmap_3.3}.hg38.vcf.gz"
            known_snps_tbi        = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{1000G_omni2.5,1000G_phase1.snps.high_confidence,hapmap_3.3}.hg38.vcf.gz.tbi"
            known_snps_vqsr       = '--resource:1000G_omni,known=false,training=true,truth=true,prior=10.0 1000G_omni2.5.hg38.vcf.gz --resource:1000G,known=false,training=true,truth=true,prior=10.0 1000G_phase1.snps.high_confidence.hg38.vcf.gz --resource:hapmap,known=false,training=true,truth=true,prior=10.0 hapmap_3.3.hg38.vcf.gz'
            known_indels          = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,Axiom_Exome_Plus.genotypes.all_populations.poly.hg38,beta/Homo_sapiens_assembly38.known_indels,beta/Homo_sapiens_assembly38.variantEvalGoldStandard}.vcf.gz"
            known_indels_tbi      = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,Axiom_Exome_Plus.genotypes.all_populations.poly.hg38,beta/Homo_sapiens_assembly38.known_indels,beta/Homo_sapiens_assembly38.variantEvalGoldStandard}.vcf.gz.tbi"
            known_indels_vqsr     = '--resource:mills,known=false,training=true,truth=true,prior=10.0 Mills_and_1000G_gold_standard.indels.hg38.vcf.gz --resource:axiomPoly,known=false,training=true,truth=true,prior=10.0 Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz --resource:gatk,known=false,training=true,truth=true,prior=10.0 Homo_sapiens_assembly38.known_indels.vcf.gz --resource:gatk,known=false,training=true,truth=true,prior=10.0 Homo_sapiens_assembly38.variantEvalGoldStandard.vcf.gz'
            mappability           = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/Control-FREEC/out100m2_hg38.gem"
            pon                   = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000g_pon.hg38.vcf.gz"
            pon_tbi               = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000g_pon.hg38.vcf.gz.tbi"
            snpeff_cache          = "${params.igenomes_base}/DNA_softwares/snpEff/data/GRCh38.105"
            snpeff_db             = 105
            snpeff_genome         = 'GRCh38'
            snpeff_version        = '5.1'
            vep_cache_version     = 110
            vep_genome            = 'GRCh38'
            vep_species           = 'homo_sapiens'
            vep_version           = '110.1'
        }
        'CHM13' {
            bwa                   = "${params.igenomes_base}/Homo_sapiens/CHM13/Sequence/BWAIndex"
            dbsnp                 = "${params.igenomes_base}/Homo_sapiens/CHM13/Annotation/GATKBundle/Homo_sapiens_assembly38.dbsnp138.t2t-chm13-v2.0.vcf.gz"
            dbsnp_tbi             = "${params.igenomes_base}/Homo_sapiens/CHM13/Annotation/GATKBundle/Homo_sapiens_assembly38.dbsnp138.t2t-chm13-v2.0.vcf.gz.tbi"
            dbsnp_vqsr            = '--resource:dbsnp,known=false,training=true,truth=false,prior=2.0 Homo_sapiens_assembly38.dbsnp138.t2t-chm13-v2.0.vcf.gz'
            dict                  = "${params.igenomes_base}/Homo_sapiens/CHM13/Sequence/WholeGenomeFasta/hs1.dict"
            fasta                 = "${params.igenomes_base}/Homo_sapiens/CHM13/Sequence/WholeGenomeFasta/hs1.fa"
            fasta_fai             = "${params.igenomes_base}/Homo_sapiens/CHM13/Sequence/WholeGenomeFasta/hs1.fa.fai"
            intervals             = "${params.igenomes_base}/Homo_sapiens/CHM13/Annotation/intervals/sorted_CHM13-exome-interval.bed"
            known_snps            = "${params.igenomes_base}/Homo_sapiens/CHM13/Annotation/GATKBundle/{1000G_omni2.5,1000G_phase1.snps.high_confidence,hapmap_3.3}.hg38.t2t-chm13-v2.0.vcf.gz"
            known_snps_tbi        = "${params.igenomes_base}/Homo_sapiens/CHM13/Annotation/GATKBundle/{1000G_omni2.5,1000G_phase1.snps.high_confidence,hapmap_3.3}.hg38.t2t-chm13-v2.0.vcf.gz.tbi"
            known_snps_vqsr       = '--resource:1000G_omni,known=false,training=true,truth=true,prior=10.0 1000G_omni2.5.hg38.t2t-chm13-v2.0.vcf.gz --resource:1000G,known=false,training=true,truth=true,prior=10.0 1000G_phase1.snps.high_confidence.hg38.t2t-chm13-v2.0.vcf.gz --resource:hapmap,known=false,training=true,truth=true,prior=10.0 hapmap_3.3.hg38.t2t-chm13-v2.0.vcf.gz'
            known_indels          = "${params.igenomes_base}/Homo_sapiens/CHM13/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,Homo_sapiens_assembly38.known_indels,Axiom_Exome_Plus.genotypes.all_populations.poly.hg38}.t2t-chm13-v2.0.vcf.gz"
            known_indels_tbi      = "${params.igenomes_base}/Homo_sapiens/CHM13/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,Homo_sapiens_assembly38.known_indels,Axiom_Exome_Plus.genotypes.all_populations.poly.hg38}.t2t-chm13-v2.0.vcf.gz.tbi"
            known_indels_vqsr     = '--resource:mills,known=false,training=true,truth=true,prior=10.0 Mills_and_1000G_gold_standard.indels.hg38.t2t-chm13-v2.0.vcf.gz --resource:gatk,known=false,training=true,truth=true,prior=10.0 Homo_sapiens_assembly38.known_indels.t2t-chm13-v2.0.vcf.gz --resource:axiomPoly,known=false,training=true,truth=true,prior=10.0 Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.t2t-chm13-v2.0.vcf.gz'
            snpeff_db             = 2 
            snpeff_genome         = 'CHM13'
            snpeff_cache          = "${params.igenomes_base}/DNA_softwares/snpEff/data/CHM13.2"
            snpeff_version        = '5.1'
        }       
    }
}
